---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import BookImage from "../../public/assets/book.png";
import Laptop from "../../public/assets/laptop.png";
import Robot from "../../public/assets/robot.png";
import Person from "../../public/assets/person.png";
import Avatar from "../components/React/Avatar.jsx";
---

<Layout>
  <main class="flex flex-col gap-5 bg-white w-full font-poppins items-center">
    <div class="container flex flex-col gap-20 border">
      <header class="bg-sky-300 h-28 w-full p-10">
        <nav class="w-48 h-full flex items-center">
          <ul class="w-full h-full flex items-center">
            <li>
              <a href="/" class=""><Avatar role="assistant" size="48"/>AISAC</a>
            </li>
          </ul>
        </nav>
      </header>
      <section class="w-full h-60 flex max-md:flex-col items-center gap-10 max-md:gap-1 px-40 max-md:px-0">
        <div class="flex flex-col">
          <h1 class="text-2xl max-md:text-lg font-bold">14 de junio 2024</h1>

          <h1 class="text-3xl max-md:text-xl">Términos y condiciones</h1>
        </div>
        <article class="w-2/5 max-md:w-full h-full text-justify flex items-center max-md:px-2">
          Al utilizar el Servicio de Inteligencia Artificial para Consultas
          Académicas de la Universidad Nacional Experimental Rómulo Gallegos,
          mejor conocido como AISAC o Aisac, usted (el usuario del Servicio, el
          usuario de dicho usuario) sucesores, agentes y docentes, y todos los
          que tengan relación con dicho usuario son, en lo sucesivo, "Usted".
          aceptan estar sujetos a los siguientes términos y condiciones.
        </article>        
        <img src={BookImage.src} alt="book" height="200" width="270" />
      </section>
      <hr />
      <section class="px-40 max-md:px-0 flex justify-between max-md:flex-col">
        <img class="max-md:invisible" src={Robot.src} alt="book" height="200" width="270" />
        <div>
          <h1 class="text-2xl mb-5 max-md:text-center">Términos del Servcio</h1>
          <article class="max-md:px-2">
            <ol
              class="flex flex-col gap-2 max-w-md space-y-1 text-gray-800 list-decimal list-inside"
            >
              <li>Debe ser estudiante de la institución</li>
              <li>
                Debe proporcionar algún dato que se le sea requerido, como su
                nombre o correo electrónico, etc. A menos que se pueda omitir.
              </li>
              <li>
                Debe considerar que no siempre la información que devuelve el
                servicio es 100% efectiva.
              </li>
              <li>
                Usted estudiante, es responsable del manejo y uso de información
                a través del servicio.
              </li>
              <li>
                Usted docente, es responsable de difundir información válida y
                coherente.
              </li>
            </ol>
          </article>
        </div>
      </section>
      <hr>
      <section class="flex justify-between px-40 max-md:px-0 max-md:flex-col-reverse">
        <div>
        <h1 class="text-2xl max-md:text-center">Condiciones Generales</h1>
        <article class="mt-2 max-md:px-2">
          <ol
            class="flex flex-col gap-2 max-w-md space-y-1 text-gray-800 list-decimal list-inside"
          >
            <li>
              Su uso del Servicio es bajo su propio riesgo. El servicio se
              proporciona "tal cual" y "según disponibilidad".
            </li>
            <li>
              El abuso textual o palabras groseras no están permitidas y se
              concidera una penalización. 3 No debe cargar, publicar, alojar ni
              transmitir correos electrónicos, SMS o mensajes de "spam" no
              solicitados.
            </li>
            <li>
              No debe transmitir ningún gusano o virus ni ningún código de
              naturaleza destructiva.
            </li>
            <li>
              No puede utilizar AISAC para ningún propósito ilegal o no
              autorizado. No debe, en el uso del Servicio, violar ninguna ley en
              su jurisdicción (incluidas, entre otras, las leyes de derechos de
              autor o marcas comerciales).
            </li>
            <li>
              Aisac no garantiza que cumplirá con sus requisitos específicos.
            </li>
            <li>
              Usted se compromete a no reproducir, duplicar, copiar, vender,
              revender o explotar ninguna parte del Servicio, el uso del
              Servicio o el acceso al Servicio sin el permiso expreso por
              escrito del creado de AISAC.
            </li>
            <li>
              No puede subir documentos o imágenes que tengan contenido
              pornográfico, violencia, discriminación, racismo, política y
              comercio de productos.
            </li>
            <li>
              Los archivos que suba para mejorar el modelo de inteligencia
              artificial, serán revisados antes de su publicación. 10 Acepta que
              el Servicio utiliza Cookies.
            </li>
            <li>
              Si alguna disposición del presente documento, o la aplicación de
              dicha disposición a cualquier persona o circunstancia, es
              declarada inválida por un tribunal o árbitro, el el resto de los
              términos del presente documento, o la aplicación de dicha(s)
              disposición(es) a personas o circunstancias distintas de aquellas
              en las que se considera inválida, no se verán afectados por ello.
              Los términos restantes se interpretarán de manera coherente con
              los términos y objetivos establecidos en el presente documento
              para dar la mejor manera posible a la la intención de las partes.
            </li>
          </ol>
        </article>
      </div>
      <div class="h-full flex items-center">
        <div class="max-h-max">
          <img src={Person.src} alt="person" width="420" height="320">
        </div>
      </div>
        
      </section>
      <hr>
      <section class="flex justify-between px-40 max-md:px-0 max-md:flex-col">
        <img src={Laptop.src} alt="laptop">
        <div>
        <h1 class="text-2xl max-md:text-center">Modificaciones al Servicio</h1>
        <article class="mt-2 max-md:px-2">
          <ol class="flex flex-col gap-2 max-w-md space-y-1 text-gray-800 list-decimal list-inside">
            <li>
              El creador de AISAC se reserva el derecho en cualquier momento y de
              vez en cuando de modificar o interrumpir, temporal o permanentemente,
              el Servicio (o cualquier parte con o sin previo aviso.
            </li>
            <li>
              El creador de
          AISAC no será responsable ante usted ni ante ningún tercero por
          cualquier modificación, suspensión o interrupción del Servicio.
            </li>
          </ol>
        </article>
      </div>
      </section>
      <section class="flex px-40 pb-20 max-md:px-0 max-md:flex-col">
        <h1 class="text-2xl ">Derechos de autor y propiedad del contenido</h1>
        <article class="mt-2">
          La apariencia del Servicio es propiedad del creador de AISAC. Todos los
        derechos reservados. No puede duplicar, copiar ni reutilizar ninguna parte
        de la HTML/CSS, Javascript o elementos o conceptos de diseño visual sin el
        permiso expreso por escrito del creador.
        </article>
      </section>
    </div>
  </main>
</Layout>
