/* global.css*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #88888800;
  border-radius: 5px;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border-right: solid 5px #66666604; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-color: #0077ff5d;;
}