---
  import PromptUser from "../React/PromptUser.jsx";
  import Avatar from "../React/Avatar.jsx";
---
<div class="flex justify-center">
  <Avatar role="assistant" size="250"/>
</div>
<PromptUser client:only/>
