---
	import Layout from "../layouts/Layout.astro";
	import Header from "../components/UI/Header/header.astro";
	import Aside from "../components/UI/Aside/aside.astro";
	import Footer from "../components/UI/Footer/footer.astro";
	import Inbox from "../components/Inbox/inbox.astro";
	import PromptUser from "../components/Prompt/prompt.astro";
	import Message from "../components/Messages/message.astro";
---

<Layout title="AISAC">
	<Header />
	<Aside />
	<main class="flex container mx-auto px-4 overflow-hidden">
		<Inbox>
			<div class="h-14"></div>
			<Message role={"assistant"}/>
			<Message role={"user"}/>
			<Message role={"assistant"}/>
			<Message role={"user"}/>
			<Message role={"assistant"}/>
			<Message role={"user"}/>
			<Message role={"assistant"}/>
			<Message role={"user"}/>
			<Message role={"assistant"}/>
			<div class="h-14"></div>
		</Inbox>
		<PromptUser />
	</main>
	<Footer />
</Layout>
