---
	import Layout from "../layouts/Layout.astro";
	import Header from "../components/UI/Header/header.astro";
	import Aside from "../components/UI/Aside/aside.astro";
	import Footer from "../components/UI/Footer/footer.astro";
	import Inbox from "../components/Inbox/inbox.astro";
	import Prompt from "../components/Prompt/prompt.astro";
---

<Layout title="AISAC">
	<Header />
	<Aside />
	<main>
		<Inbox />
		<Prompt />
	</main>
	<Footer />
</Layout>
